@page
@using Microsoft.AspNetCore.Identity
@model W21_Assignment.Pages.Menu.IndexModel
@inject SignInManager<SiteUser> SignInManager
@inject UserManager<SiteUser> UserManager


@{



    ViewData["Title"] = "Index";
}
<img src="~/imgs/8.jpg" class="homeback" />
<div class="menuback">
    <h1>Our Plants</h1>
    @if (SignInManager.IsSignedIn(User))



    {

        <p>
            <a asp-page="Create" class="Edit">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Menu[0].Main)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Menu[0].Entree)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Menu[0].Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Menu[0].Day)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Menu)



                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Main)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Entree)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Day)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.MenuId" class="Edit">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.MenuId" class="Edit">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.MenuId" class="Edit">Delete</a>
                        </td>
                    </tr>



                }
            </tbody>
        </table>







    }



    else



    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Menu[0].Main)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Menu[0].Entree)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Menu[0].Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Menu[0].Day)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Menu)



                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Main)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Entree)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Day)
                        </td>
                    </tr>



                }
            </tbody>
        </table>



    }
</div>
