@page
@using Microsoft.AspNetCore.Identity
@model W21_Assignment.Pages.Plants.IndexModel
@inject SignInManager<SiteUser> SignInManager
@inject UserManager<SiteUser> UserManager


@{



    ViewData["Title"] = "Index";
}
<img src="~/imgs/coffe.jpg" class="homeback" />
<h1>Our Plants</h1>
@if (SignInManager.IsSignedIn(User))




{
    <h2>"Welcome, @Model.UserEmail"</h2>
    <p>
        <a asp-page="Create" class="EditPlant">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Plants[0].Name)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Plants[0].Picture)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Plants[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Plants[0].Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Plants)




            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <img src="~/imgs/@Html.DisplayFor(modelItem => item.Picture)" class="plantseed" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.PlantId" class="EditPlant">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.PlantId" class="EditPlant">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.PlantId" class="EditPlant">Delete</a>
                    </td>
                </tr>















            }
        </tbody>
    </table>















}















else















{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Plants[0].Name)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Plants[0].Picture)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Plants[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Plants[0].Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Plants)















            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <img src="~/imgs/@Html.DisplayFor(modelItem => item.Picture)" class="plantseed" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                </tr>















            }
        </tbody>
    </table>















}

<style>
    .table {
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        color: white;
        background-color: rgb(165, 160, 154, 0.5) !important;
    }

    .EditPlant {
        color: white !important;
        font-family: 'Times New Roman', Times, serif !important;
        font-size: 20px !important;

    }

    .plantseed {
        width: 150px !important;
    }
</style>